<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]
<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Attendees</caption>
  <tr>
    <th>attendee_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Bess Houdini</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Sir Arthur Conan Doyle</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Hilma Klimt</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
</table>

<div id="insert" style="display: block">
  <form id="InsertAttendee">
      <legend><strong>Insert Attendee</strong></legend>
          <fieldset class="fields">
        <label> Full Name: </label> <input  type="text"  name="name">
           <label for="attended">Has this attendee already attended a seance? If so, which one?</label>
  <select name="attended" id="attended">
       <option value="None">None</option>
    <option value="Beachland">1857-11-21 at Beachland Ballroom & Tavern</option>
    <option value="Edgar">1920-08-26 at Edgar Cayce's Houston A.R.E. Center</option>
  </select>
    </fieldset>
    <input class="btn" type="submit" id="InsertAttendee" value="Insert Attendee">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateAttendee">
      <legend><strong>Update Attendee</strong></legend>
       <label for="attended">Attendee to Update: </label>
  <select name="attended" id="attended">
    <option value="Bess">Bess Houdini | id: 1</option>
    <option value="Arthur">Sir Arthur Conan Doyle | id:2</option>
    <option value="Hilma">Hilma Klimt | id:3</option>
  </select>
      <fieldset class="fields">
      <legend>New Information</legend>
        <label> Full Name: </label> <input  type="text"  name="name">
  </select>
    </fieldset>
    <input class="btn" type="submit" id="UpdateAttendee" value="Update Attendee">
  </form>
</div>


<div>
&nbsp;
</div>
