<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Medium</a>
]
<div>
&nbsp;
</div>

<div id="insert" style="display: block">
  <form id="InsertAttendee">
      <legend><strong>Insert Attendee</strong></legend>
          <fieldset class="fields">
        <label> Name Prefix: </label> <input  type="text"  name="date">
        <label> First Name: </label> <input  type="text"  name="date">
        <label> Last Prefix: </label> <input  type="text"  name="date">
        <label> Name Suffix: </label> <input  type="text"  name="date">
    </fieldset>
    <input class="btn" type="submit" id="InsertAttendee" value="Insert Attendee">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateAttendee">
      <legend><strong>Update Attendee</strong></legend>
          <fieldset class="fields">
        <label> Name Prefix: </label> <input  type="text"  name="date">
        <label> First Name: </label> <input  type="text"  name="date">
        <label> Last Prefix: </label> <input  type="text"  name="date">
        <label> Name Suffix: </label> <input  type="text"  name="date">
    </fieldset>
    <input class="btn" type="submit" id="UpdateAttendee" value="Update Attendee">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>


<div>
&nbsp;
</div>

<div id="insert" style="display: block">
  <form id="DeleteAttendee">
      <legend><strong>Delete Attendee</strong></legend>
          <fieldset class="fields">
        <label> Name Prefix: </label> <input  type="text"  name="date">
        <label> First Name: </label> <input  type="text"  name="date">
        <label> Last Prefix: </label> <input  type="text"  name="date">
        <label> Name Suffix: </label> <input  type="text"  name="date">
    </fieldset>
    <input class="btn" type="submit" id="DeleteAttendee" value="Delete Attendee">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>