{% extends 'baselayout.html' %}

{% block title %}Attendees{% endblock %}
{% block content %}
<div class="container-fluid">
<h2 align="center">Attendees</h2>
<div>&nbsp;</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>attendee_id</th>
    <th>Full Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for attendee in attendee_data %}
     {%if attendee['attendee_id'] == edit_form %}

  <tr>
  <form id="UpdateAttendee" method="POST">
  <td>{{attendee['attendee_id']}}  </td>
  <td><form id="UpdateSpirit" method="POST">
  <input  type="text" class="form-control" name="new_name" value='{{attendee['full_name']}}'></td>
    <td><input class="btn btn-primary" type="submit" id="SaveUpdateAttendee" value="Save">
     <input type="hidden" name="id_input" value={{attendee['attendee_id']}}>
   <input type="hidden" name="action" value="update">
   <input type="hidden" name="edit_form" value=-1>
    </td>
   </form>
    <td>
       <form id="cancel" method="GET">
      <input class="btn btn-secondary" type="submit" id="cancel" value="Cancel">
     </td>
        </form>

  </tr>

     {% else %}
  <tr>
    <td>{{attendee['attendee_id']}}</td>
    <td>{{attendee['full_name']}}</td>

    <td>
      <form id="UpdateSpirit" method="POST">
        <input class="btn btn-secondary" type="submit" id="UpdateAttendee" value="Update">
        <input type="hidden" name="action" value="tagupdate">
        <input type="hidden" name="id_input" value={{attendee['attendee_id']}}
        <input type="hidden" name="edit_form" value={{attendee['attendee_id']}}
    </td>
    </form>


    <td>
        <form id="DeleteAttendee" method="POST">
        <input class="btn btn-danger" type="submit" id="DeleteAttendee" value="Delete">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="attendee_id" value={{attendee['attendee_id']}}
   </td>    </form>
  </tr>

    {% endif %}
  {% endfor %}



  </tbody>
</table>


<div class="form-group" id="insert">
  <form id="InsertAttendee" method="POST">
     <legend><strong>Insert Attendee</strong></legend>
       <div class="row">
       <div class="col-sm">
       <input type="text" required placeholder="Full Name" class="form-control" name="insert_full_name">
       </div>
       <div class="col-sm">
       <select name="seance_id" class="form-control" id="seance_id_select">
        <option value="">No</option>
        {% for seance in seance_data %}
        <option value={{seance['seance_id']}}>
        {{seance['date']}} at {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
        {% endfor %}
      </select>
      <label for="seance_id">Has this attendee already attended a seance? If so, select it.</label>
      </div>
      <div class="col-sm-2">
      <input  class="btn btn-dark"  type="submit" id="InsertAttendee" value="Insert Attendee">
      <input type="hidden" name="action" value="insert">
      </div>
  </form>
</div>

<div>
&nbsp;
</div>


</div>

{% endblock %}