{% extends 'baselayout.html' %}

{% block title %}Attendees{% endblock %}
{% block content %}
<div class="container-fluid">
<table class="table">
  <caption>Attendees</caption>
  <thead>
  <tr>
    <th>attendee_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  {% for attendee in attendee_data %}
  <tr>
    <td>{{attendee['attendee_id']}}</td>
    <td>{{attendee['full_name']}}</td>
    <td><a href="delete_attendee/{{attendee['attendee_id']}}">Delete</a></td>
    <td><a href="attendees?id={{attendee['attendee_id']}}">Edit</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div id="insert" style="display: block">
  <form id="InsertAttendee" method="POST">
     <legend><strong>Insert Attendee</strong></legend>
     <fieldset class="fields">
     <label> Full Name: </label> <input type="text"  name="name">
     <label for="seance_id">Has this attendee already attended a seance? If not, have them attend one to be inducted.</label>
     <select name="seance_id" id="seance_id_select">
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}}>
    {{seance['date']}} at {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
  </select>
    </fieldset>
    <input class="btn" type="submit" id="InsertAttendee" value="Insert Attendee">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateAttendee" method="POST">
    <legend><strong>Update Attendee</strong></legend>
    <label for="id_input">Attendee to Update: </label>
    <select name="id_input" id="id_input">
      <option value=""> </option>
      {% for attendee in attendee_data %}
      <option value={{attendee['attendee_id']}}
      {% if attendee_to_edit['attendee_id']==attendee['attendee_id'] %} selected {% endif %}>
        {{attendee['full_name']}} | id: {{attendee['attendee_id']}}
      </option>
      {% endfor %}
    </select>
    <fieldset class="fields">
    <legend>New Information</legend>
    <label> Full Name: </label> <input  type="text"  name="new_name" value="{{attendee_to_edit['full_name']}}">
    </fieldset>
    <input class="btn" type="submit" id="UpdateAttendee" value="Update Attendee">
  </form>
</div>
</div>

{% endblock %}