{% extends 'baselayout.html' %}
{% block title %}Channelings{% endblock %}
{% block content %}
<style>

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=date], .form-container input[type=select] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=date]:focus, .form-container input[type=select]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>


<form id="FilterList">
<label for="seance-select">Choose a seance to view channelings for:</label>
<select name="chosen_seance_id" id="seance-select">
    <option value="">Show me channelings from all seances</option>
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}}
    {% if chosen_seance['seance_id']==seance['seance_id'] %} selected {% endif %}>
    {{seance['date']}} at {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
</select>
<input class="btn btn-dark" type="submit" id="filter" value="Filter">
</form>

<div>&nbsp;</div>

<table border="5" cellpadding="10">
  <caption>
  Channelings from 
  {% if chosen_seance==None %}All Seances
  {% else %}{{chosen_seance['date']}} at {{chosen_seance['name']}} | seance_id: {{chosen_seance['seance_id']}}{% endif %}
  </caption>
  <thead>
  <tr>
    <th>channeling_id</th>
    <th>Medium Name</th>
    <th>Spirit Name</th>
    <th>Method</th>
    <th>Date</th>
    <th>Location</th>
    <th>is_successful</th>
    <th>length_in_minutes</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>


  {% for channeling in channeling_data %}
   {%if channeling['channeling_id']==channeling_id_to_edit %}
    <tr>
    <form id="UpdateChanneling" method="POST">
    <td>{{channeling['channeling_id']}}</td>
    <td>
    <select name="medium_id">
          <option value=""> </option>
          {% for medium in medium_data %}
           <option value={{channeling['medium_id']}}
           {% if medium['medium_id']==channeling['medium_id'] %} selected {% endif %}>
          {{medium['full_name']}} | medium_id: {{medium['medium_id']}}</option>
          {% endfor %}
        </select>
    </td>
    <td>
    <select name="spirit_id">

          <option value=""> </option>
          {% for spirit in spirit_data %}
          <option value={{spirit['spirit_id']}}
           {% if spirit['spirit_id']==channeling['spirit_id'] %} selected {% endif %}>
              {{spirit['full_name']}} | medium_id: {{spirit['spirit_id']}}</option>
          {% endfor %}
        </select></td>
    <td>

        <select name="method_id">

          <option value=""> </option>
          {% for method in method_data %}
          <option value={{method['method_id']}} 
          {% if method['method_id']==channeling['method_id'] %} selected {% endif %}>
              {{method['name']}} | medium_id: {{method['method_id']}}</option>
          {% endfor %}
        </select></td>


    <td colspan="2">
            <select name="seance_id">

          <option value=""> </option>
          {% for seance in seance_data %}
          <option value={{seance['seance_id']}} 
          {% if seance['seance_id'] == channeling['seance_id'] %} selected {% endif %}>
          {{seance['date']}} |   {{seance['name']}} | seance: {{seance['seance_id']}}</option>
          {% endfor %}
        </select></td>


    <td>
          <select name="is_successful">
       {% for item in[ {'string':'Yes', 'value':1}  , {'string':'No', 'value':0}  ] %}
          <option value={{item['value']}} 
           {% if item['value'] == channeling['is_successful'] %} selected {% endif %}>
          {{item['string']}}</option>
          {% endfor %}
        </select>


    </td>
   <td><input  type="integer"  name="length_in_minutes" 
   {% if channeling['length_in_minutes']!=None %}value ={{channeling['length_in_minutes']}}{% endif %} ></td>

    <td>

        <input class="btn btn-primary" type="submit" id="UpdateChanneling" value="Save">
        <input type="hidden" name="action" value="update">
        <input type="hidden" name="id_input" value={{channeling['channeling_id']}}
         <input type="hidden" name="channeling_id_to_edit" value={{channeling['channeling_id']}}


      </td>
      </form>
    <td>
       <form id="cancel" method="GET">
      <input class="btn btn-dark" type="submit" id="cancel" value="Cancel">
     </td>
        </form>


  </tr>


     {% else %}
  <tr>
    <td>{{channeling['channeling_id']}}</td>
    <td>{{channeling['medium_name']}}</td>
    <td>{{channeling['spirit_name']}}</td>
    <td>{{channeling['method_name']}}</td>
    <td>{{channeling['date']}}</td>
    <td>{{channeling['location_name']}}</td>
    <td>{{channeling['is_successful']}}</td>
    <td>{{channeling['length_in_minutes']}}</td>

    <td>
        <form id="UpdateChanneling" method="POST">
        <input class="btn btn-secondary" type="submit" id="UpdateChanneling" value="Update Channeling">
        <input type="hidden" name="action" value="tagupdate">
        <input type="hidden" name="channeling_id" value={{channeling['channeling_id']}}
         <input type="hidden" name="channeling_id_to_edit" value={{channeling['channeling_id']}}
      </td>  </form>

    <td>       <form id="DeleteChanneling" method="POST">
        <input class="btn btn-danger" type="submit" id="DeleteChanneling" value="Delete Channeling">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="channeling_id" value={{channeling['channeling_id']}}
     </td>
          </form>


  </tr>
    {% endif %}
  {% endfor %}


    <tr>
       <form id="InsertChanneling" method="POST">
    <td>Insert Channeling</td>
  <td>         <select name="medium_id">

          <option value=""> </option>
          {% for medium in medium_data %}
          <option value={{medium['medium_id']}}>
          {{medium['full_name']}} | medium_id: {{medium['medium_id']}}</option>
          {% endfor %}
        </select>  </td>

    <td>      <select name="spirit_id">
          <option value=""> </option>
          {% for spirit in spirit_data %}
          <option value={{spirit['spirit_id']}}>
          {{spirit['full_name']}} | spirit_id: {{spirit['spirit_id']}}</option>
          {% endfor %}
        </select> </td>

    <td>       <select name="method_id">
          <option value=""></option>
          {% for method in method_data %}
          <option value={{method['method_id']}}>
          {{method['name']}} | method_id: {{method['method_id']}}</option>
          {% endfor %}

        </select> </td>


    <td colspan="2">  <select name="seance_date" onclick="openForm(this.value)">

    <option value=""></option>
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}}
    {% if chosen_seance['seance_id']==seance['seance_id'] %} selected {% endif %}>
    {{seance['date']}} {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
    <option value='AddSeance'>+ Add Seance</option>
    </select>


    <td>
      <select name="is_successful">
           <option value=0>No</option>
          <option value=1>Yes</option>
        </select>
    </td>
    <td><input  type="integer"  name="insert_full_name"></td>
    <td>
        <input class="btn btn-dark" type="submit" id="InsertChanneling" value="Insert Channeling">
        <input type="hidden" name="action" value="insert">
        </form>
    </td>

  </tr>



  </tbody>
</table>

<div class="form-popup" id="myForm">
  <form action="/add_seance" class="form-container" method="POST">

    <label for="date"><b>Date</b></label>
    <input type="date"  name="date">

    <label for="location"><b>Location</b></label>
    <select name="location_id" id="newloc">
    <option value=""></option>
    {% for location in location_data %}
      <option value={{location['location_id']}}>
      {{location['name']}} | location_id {{location['location_id']}}
      </option>
     {% endfor %}
     </select>
     <div>
&nbsp;
</div>
<input class="btn" type="submit" id="InsertChanneling" value="Insert Channeling">


  </form>
</div>

</div>

<script>
function openForm(value) {
 if (value=='AddSeance')
{
  document.getElementById("myForm").style.display = "block";
  }
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

{% endblock %}
