<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Channelings</caption>
  <tr>
    <th>channeling_id</th>
    <th>Medium Name</th>
    <th>Spirit Name</th>
    <th>Method</th>
    <th>Date</th>
    <th>Location</th>
    <th>is_successful</th>
    <th>length_in_minutes</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Arthur Ford</td>
    <td>Harry Houdini</td>
    <td>Trance</td>
    <td>1920-08-26</td>
    <td>Edgar Cayce's Houston A.R.E. Center</td>
    <td>1</td>
    <td>30</td>
    <td><a href="_">Delete</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Kate Fox</td>
    <td>Black Hawk</td>
    <td>Cabinets</td>
    <td>1857-11-21</td>
    <td>Beachland Ballroom & Tavern</td>
    <td>0</td>
    <td>150</td>
    <td><a href="_">Delete</a></td>
  </tr>
</table>



<div id="insert" style="display: block">
  <form id="InsertChanneling">
      <legend><strong>Insert Channeling</strong></legend>
      <fieldset class="fields">
        <label for="seance">Seance</label>
        <select name="seance">
                    <option value="None"> </option>
          <option value="s1">1920-08-26 at Edgar Cayce's Houston A.R.E. Center | id: 1</option>
          <option value="s2">1857-11-21 at Beachland Ballroom & Tavern| id: 2</option>
        </select>
        <br>
        <label for="medium"> Medium Full Name: </label>
        <select name="medium">
                    <option value="None"> </option>
          <option value="m1">Arthur Ford | id: 1</option>
          <option value="m1">Andrew Jackson Davis | id: 2</option>
          <option value="m1">Leah Fox | id: 3</option>
        </select>
        <br>
        <label for="spirit"> Spirit Full Name: </label>
        <select name="spirit">
                    <option value="None"> </option>
          <option value="s1">Black Hawk | id: 1</option>
          <option value="s2">Harry Houdini | id: 2</option>
          <option value="s3">Bartholomew Governor of the House of Strangers| id: 3</option>
        </select>
        <br>
        <label for="method">Method Used: </label>
        <select name="method">
                    <option value="None"> </option>
          <option value="method1">Spirit Board | id: 1</option>
          <option value="method2">Cabinets | id: 2</option>
          <option value="method1">Trance | id: 3</option>
        </select>
        <br>
        <label> Channeling Was Successful: </label><input  type="checkbox"  name="success">
        <br>
      <label> Channeling Length (in minutes): </label> <input  type="number"  name="length">
      </fieldset>
    <input class="btn" type="submit" id="InsertChanneling" value="Insert Channeling">
  </form>
</div>