<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Medium</a>
]

<div>
&nbsp;
</div>
<div id="insert" style="display: block">
  <form id="InsertChanneling">
      <legend><strong>Insert Channeling</strong></legend>
          <fieldset class="fields">
        <label> Seance Location: </label> <input  type="text"  name="Location">
        <label> Seance Date: </label> <input  type="text"  name="date">
        <label> Medium Full Name: </label> <input  type="text"  name="medium">
        <label> Spirit Full Name: </label> <input  type="text"  name="spirit">
          </fieldset>
      <fieldset class="fields">
        <label> Channeling Was Successful: </label><input  type="checkbox"  name="success">
      <label> Channeling Length (in minutes): </label> <input  type="number"  name="length">
    </fieldset>
    <input class="btn" type="submit" id="InsertChanneling" value="Insert Channeling">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>


<div>
&nbsp;
</div>
<div id="update" style="display: block">
  <form id="UpdateChanneling">
      <legend><strong>Update Channeling</strong></legend>
          <fieldset class="fields">
        <label> Seance Location: </label> <input  type="text"  name="Location">
        <label> Seance Date: </label> <input  type="text"  name="date">
        <label> Medium Full Name: </label> <input  type="text"  name="medium">
        <label> Spirit Full Name: </label> <input  type="text"  name="spirit">
          </fieldset>
      <fieldset class="fields">
        <label> Channeling Was Successful: </label><input  type="checkbox"  name="success">
      <label> Channeling Length (in minutes): </label> <input  type="number"  name="length">
    </fieldset>
    <input class="btn" type="submit" id="UpdateChanneling" value="Update Channeling">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>


<div>
&nbsp;
</div>
<div id="delete" style="display: block">
  <form id="DeleteChanneling">
      <legend><strong>Delete Channeling</strong></legend>
          <fieldset class="fields">
        <label> Seance Location: </label> <input  type="text"  name="Location">
        <label> Seance Date: </label> <input  type="text"  name="date">
        <label> Medium Full Name: </label> <input  type="text"  name="medium">
        <label> Spirit Full Name: </label> <input  type="text"  name="spirit">
          </fieldset>
      <fieldset class="fields">
        <label> Channeling Was Successful: </label><input  type="checkbox"  name="success">
      <label> Channeling Length (in minutes): </label> <input  type="number"  name="length">
    </fieldset>
    <input class="btn" type="submit" id="DeleteChanneling" value="Delete Channeling">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>