<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Locations</caption>
  <tr>
    <th>location_id</th>
    <th>name</th>
    <th>street_address</th>
    <th>city</th>
    <th>zip</th>
    <th>state</th>
    <th>country</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Barnum's Hotel</td>
    <td>170 Broadway</td>
    <td>New York</td>
    <td>10007</td>
    <td>NY</td>
    <td>US</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Beachland Ballroom & Tavern</td>
    <td>15711 Waterloo Rd</td>
    <td>Cleveland</td>
    <td>44110</td>
    <td>OH</td>
    <td>US</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
</table>




<div id="insert" style="display: block">
  <form id="InsertLocation">
      <legend><strong>Insert Location</strong></legend>
          <fieldset class="fields">
        <label> Name: </label> <input type="text"  name="name">
        <label> Street Address: </label> <input type="text"  >
        <label> City: </label> <input type="text"  >
        <label> Zip: </label> <input type="text"  >
        <label> State: </label> <input type="text"  >
          <label> Country: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="InsertLocation" value="Insert Location">
  </form>
</div>


<div>
&nbsp;
</div>

<div id="update" style="display: block">
    <form id="UpdateLocation">
      <legend><strong>Update Location</strong></legend>
      <label for="toupdate">Location to Update: </label>
      <select name="toupdate" id="update">
          <option value="None"> </option>
        <option value="Barnum"> Barnum's Hotel | id: 1</option>
        <option value="Beach"> Beachland Ballroom & Tavern | id: 2</option>
      </select>
      <fieldset class="fields">
      <legend>New Information</legend>
        <label> Name: </label> <input type="text"  name="name">
        <label> Street Address: </label> <input type="text"  >
        <label> City: </label> <input type="text"  >
        <label> Zip: </label> <input type="text"  >
        <label> State: </label> <input type="text"  >
        <label> Country: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="UpdateLocation" value="Update Location">
  </form>
</div>

<div>
&nbsp;
</div>




