{% extends 'baselayout.html' %}
{% block title %}Locations{% endblock %}

{% block content %}
<table border="5" cellpadding="10">
  <caption>Locations</caption>
  <thead>
  <tr>
    <th>location_id</th>
    <th>name</th>
    <th>street_address</th>
    <th>city</th>
    <th>zip</th>
    <th>state</th>
    <th>country</th>
    <th>Action</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for location in location_data %}
     {%if location['location_id'] == location_to_edit %}

      <tr>
     <form id="UpdateLocation" method="POST">
    <td>{{location['location_id']}}</td>

    <td><input  type="text"  name="location_name" value='{{location['name']}}'></td>
    <td><input  type="text"  name="street_address" value='{{location['street_address']}}'></td>
    <td><input  type="text"  name="city" value='{{location['city']}}'></td>
    <td><input  type="text"  name="zip" value='{{location['zip']}}'></td>
    <td><input  type="text"  name="state" value='{{location['state']}}'></td>
    <td><input  type="text"  name="country" value='{{location['country']}}'></td>

    <td>
        <input class="btn btn-primary" type="submit" id="UpdateLocation" value="Save">
        <input type="hidden" name="action" value="update">
        <input type="hidden" name="location_id" value={{location['location_id']}}
         </td>
   </form>
    <td>
       <form id="cancel" method="GET">
      <input class="btn btn-dark" type="submit" id="cancel" value="Cancel">
     </td>
        </form>
  </tr>
       {% else %}
  <tr>

    <td>{{location['location_id']}}</td>
    <td>{{location['name']}}</td>
    <td>{{location['street_address']}}</td>
    <td>{{location['city']}}</td>
    <td>{{location['zip']}}</td>
    <td>{{location['state']}}</td>
    <td>{{location['country']}}</td>
   <td>
      <form id="UpdateLocation" method="POST">
        <input class="btn btn-secondary" type="submit" id="UpdateLocation" value="Update Location">
        <input type="hidden" name="action" value="tagupdate">
        <input type="hidden" name="location_id" value={{location['location_id']}}

         </td>
         </form>
    <td>
           <form id="DeleteLocation" method="POST">
        <input class="btn btn-danger" type="submit" id="DeleteLocation" value="Delete Location">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="location_id" value={{location['location_id']}}

    </td>         </form>
  </tr>
  {% endif %}
  {% endfor %}
  <tr>          
  <form id="InsertSpirit" method="POST">
    <td>Insert New Location</td>
    <td> <input  type="text"  name="location_name"></td>
    <td> <input  type="text"  name="street_address"></td>
    <td><input  type="text"  name="city"></td>
    <td><input  type="text"  name="zip"></td>
    <td><input  type="text"  name="state"></td>
    <td><input  type="text"  name="country"></td>
 <td colspan=2>   <input class="btn btn-dark" type="submit" id="InsertLocation" value="Insert Location">
         <input type="hidden" name="action" value="insert">
        </form>
        </tr>
  <tbody>
</table>

{% endblock %}



