<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Medium</a>
]

<div>
&nbsp;
</div>

<div id="insert" style="display: block">
  <form id="InsertLocation">
      <legend><strong>Insert Location</strong></legend>
          <fieldset class="fields">
        <label> Name: </label> <input type="text"  name="name">
        <label> Street Address: </label> <input type="text"  >
        <label> City: </label> <input type="text"  >
        <label> Zip: </label> <input type="text"  >
        <label> State: </label> <input type="text"  >
          <label> Country: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="InsertLocation" value="Insert Location">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>


<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateLocation">
      <legend><strong>Update Location</strong></legend>
          <fieldset class="fields">
        <label> Name: </label> <input type="text"  name="name">
        <label> Street Address: </label> <input type="text"  >
        <label> City: </label> <input type="text"  >
        <label> Zip: </label> <input type="text"  >
        <label> State: </label> <input type="text"  >
          <label> Country: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="UpdateLocation" value="Update Location">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>

<div>
&nbsp;
</div>

<div id="delete" style="display: block">
  <form id="DeleteLocation">
      <legend><strong>Delete Location</strong></legend>
          <fieldset class="fields">
        <label> Name: </label> <input type="text"  name="name">
        <label> Street Address: </label> <input type="text"  >
        <label> City: </label> <input type="text"  >
        <label> Zip: </label> <input type="text"  >
        <label> State: </label> <input type="text"  >
          <label> Country: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="DeleteLocation" value="Delete Location">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>



