<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Guest Lists</a>
]
<div>
&nbsp;&nbsp;
</div>

<table border="5" cellpadding="10">
  <tr>
    <th>medium_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Arthur Ford</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Andrew Jackson Davis</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Leah Fox</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
</table>


<div id="insert" style="display: block">
  <form id="InsertMedium">
      <legend><strong>Insert Medium</strong></legend>
          <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="InsertMedium" value="Insert Medium">
  </form>
</div>

<div>
&nbsp;&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateMedium">
      <legend><strong>Update Medium</strong></legend>
      <fieldset class="fields">
                        <label for="attended">Current Full Name (To Be Changed) </label>
  <select name="attended" id="attended">
       <option value="None"></option>
    <option value="Bess"> Arthur Ford id: 1</option>
  </select>
      </fieldset>
      <br>
    <legend>New Information</legend>
   <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="UpdateMedium" value="Update Medium">
  </form>
</div>


<div>
&nbsp;&nbsp;
</div>

