<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]
<div>
&nbsp;&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Mediums</caption>
  <thead>
  <tr>
    <th>medium_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tbody>
  {% for medium in medium_data %}
  <tr>
    <td>{{medium['medium_id']}}</td>
    <td>{{medium['full_name']}}</td>
    <td><a href="delete_medium/{{medium['medium_id']}}">Delete</a></td>
    <td><a href="mediums?id={{medium['medium_id']}}">Edit</a></td>
  </tr>
  {% endfor %}
</table>


<div id="insert" style="display: block">
  <form id="InsertMedium" method="POST">
      <legend><strong>Insert Medium</strong></legend>
          <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="InsertMedium" value="Insert Medium">
  </form>
</div>

<div>
&nbsp;&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateMedium" method="POST">
    <legend><strong>Update Medium</strong></legend>
    <label for="attended">Medium to Update: </label>
    <select name="id_input">
      <option value=""> </option>
      {% for medium in medium_data%}
      <option value={{medium['medium_id']}}
      {% if medium_to_edit['medium_id']==medium['medium_id'] %} selected {% endif %}>
        {{medium['full_name']}} | id: {{medium['medium_id']}}
      </option>
      {% endfor %}
    </select>
     <fieldset class="fields">
      <legend>New Information</legend>
    <label> Full Name: </label> <input  type="text"  name="name" value="{{medium_to_edit['full_name']}}">
    </fieldset>
    <input class="btn" type="submit" id="UpdateMedium" value="Update Medium">
  </form>
</div>


<div>
&nbsp;&nbsp;
</div>

