<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]
<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Methods</caption>
  <thead>
  <tr>
    <th>method_id</th>
    <th>name</th>
    <th>description</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  {% for method in method_data %}
  <tr>
    <td>{{method['method_id']}}</td>
    <td>{{method['name']}}</td>
    <td>{{method['description']}}</td>
    <td><a href="delete_method/{{method['method_id']}}">Delete</a></td>
    <td><a href="methods?id={{method['method_id']}}">Edit</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div id="insert" style="display: block">
  <form id="InsertMethod" method="POST">
      <legend><strong>Insert Method</strong></legend>
          <fieldset class="fields">
        <label> Name: </label> <input  type="text"  name="name">
        <label> Description: </label> <textarea rows="3" cols="100" name="description" form="InsertMethod"></textarea>
    </fieldset>
    <input class="btn" type="submit" id="InsertMethod" value="Insert Method">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateMethod" method="POST">
      <legend><strong>Update Method</strong></legend>
            <label for="id_input">Method to Update: </label>
            <select name="id_input" id="toupdate">
              <option value=""> </option>
              {% for method in method_data %}
              <option value="{{method['method_id']}}"
              {% if method_to_edit['method_id']==method['method_id'] %} selected {% endif %}>
                {{method['name']}} | id: {{method['method_id']}}
              </option>
              {% endfor %}
            </select>
        <fieldset class="fields">
          <legend>New information</legend>
         <label> Name: </label> <input type="text" name="new_name" value="{{method_to_edit['name']}}">
         <label> Description: </label> 
         <textarea rows="3" cols="100" name="new_description" form="UpdateMethod">{{method_to_edit['description']}}</textarea> 
    </fieldset>
    <input class="btn" type="submit" id="UpdateMethod" value="Update Method">
  </form>
</div>


<div>
&nbsp;
</div>

