{% extends 'baselayout.html' %}
{% block title %}Methods{% endblock %}

{% block content %}
<table border="5" cellpadding="10">
  <caption>Methods</caption>
  <thead>
  <tr>
    <th>method_id</th>
    <th>name</th>
    <th>description</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  {% for method in method_data %}
         {%if method['method_id'] == method_to_edit %}
  <tr>
        <form id="UpdateMethod" method="POST">
    <td>{{method['method_id']}}</td>
        <td><input  type="text"  name="name" value='{{method['name']}}'></td>
            <td><input  type="text"  name="description" value='{{method['description']}}'></td>
 <td>
        <input class="btn" type="submit" id="UpdateMethod" value="Save">
        <input type="hidden" name="action" value="update">
        <input type="hidden" name="method_id" value={{method['method_id']}}
         </td>
   </form>
    <td>
       <form id="cancel" method="GET">
      <input class="btn" type="submit" id="cancel" value="Cancel">
     </td>
        </form>
  </tr>

    {% else %}
      <tr>

     <td>{{method['method_id']}}</td>
    <td>{{method['name']}}</td>
        <td>{{method['description']}}</td>
   <td>
      <form id="UpdateMethod" method="POST">
        <input class="btn" type="submit" id="UpdateMethod" value="Update Method">
        <input type="hidden" name="action" value="tagupdate">
        <input type="hidden" name="method_id" value={{method['method_id']}}

         </td>
         </form>
    <td>
           <form id="DeleteMethod" method="POST">
        <input class="btn" type="submit" id="DeleteMethod" value="Delete Method">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="method_id" value={{method['method_id']}}

    </td>         </form>
  </tr>
        {% endif %}
  {% endfor %}


    <tr>          <form id="InsertMethod" method="POST">
    <td>Insert New Method</td>
    <td> <input  type="text"  name="name"></td>
        <td> <textarea rows="3" cols="100" name="description" form="InsertMethod"></textarea>
    </fieldset></td>
 <td colspan=2>   <input class="btn" type="submit" id="InsertMethod" value="Insert Method">
         <input type="hidden" name="action" value="insert">
        </form>
        </tr>

  </tbody>
</table>

{% endblock %}

