<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="index">DataSeyance</a>
      <a class="navbar-nav" href="seances">Seances</a>
      <a class="navbar-nav" href="locations">Locations</a>
      <a class="navbar-nav" href="channelings">Channelings</a>
      <a class="navbar-nav" href="spirits">Spirits</a>
      <a class="navbar-nav" href="attendees">Attendees</a>
      <a class="navbar-nav" href="mediums">Mediums</a>
      <a class="navbar-nav" href="methods">Methods</a>
      <a class="navbar-nav" href="seanceattendees">Seance Attendee Lists</a>
  </div>
</nav>