<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid flex-wrap justify-content-center">
    <a class="navbar-brand" href="index">DataSeyance</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="seances">Seances</a>
      <a class="nav-item nav-link" href="locations">Locations</a>
      <a class="nav-item nav-link" href="channelings">Channelings</a>
      <a class="nav-item nav-link" href="spirits">Spirits</a>
      <a class="nav-item nav-link" href="attendees">Attendees</a>
      <a class="nav-item nav-link" href="mediums">Mediums</a>
      <a class="nav-item nav-link" href="methods">Methods</a>
      <a class="nav-item nav-link" href="seanceattendees">Seance Attendee Lists</a>
    </div>
  </div>
</nav>