{% extends 'baselayout.html' %}
{% block title %}Seance Attendees{% endblock %}

{% block content %}
<div class="container-fluid">
<form>
<label for="seance_id_input">Choose a seance to view attendees for:</label>
<select name="seance_id_input" id="seance-select">
    <option value=''>View all attendees for all seances</option>
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}} 
    {% if chosen_seance['seance_id']==seance['seance_id'] %} selected {% endif %}>
    {{seance['date']}} at {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
</select>
<input class="btn btn-dark" type="submit" id="filter" value="Filter">
</form>

<div>
&nbsp;
</div>

<table class="table table-striped">
  <caption>Seance Attendees for
  {% if chosen_seance!=None %} Seance that took place on {{chosen_seance['date']}} at {{chosen_seance['name']}} | seance_id:{{chosen_seance['seance_id']}}
  {% else %} all seances{% endif %}</caption>
  <thead>
  <tr>
    <th>seance_id</th>
    <th>Date</th>
    <th>Location</th>
    <th>attendee_id</th>
    <th>Attendee</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for attendee in attendee_data %}
    {%if attendee['seanceattendees_id']==seanceattendees_id_to_edit %}
  <tr>
    <div class="form-group">
    <form id="UpdateSeanceAttendee" method="POST">

     <td colspan="3">
     <select name="seance_id" class="form-control">

    <option value=""></option>
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}}
    {% if seance['seance_id']==attendee['seance_id'] %} selected {% endif %}>
    {{seance['date']}} {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
    </select>

    <td colspan="2">
    <select name="attendee_id" class="form-control">
         Select Attendee
    <option value=""></option>
    {% for attendees in all_attendees %}
    <option value={{attendees['attendee_id']}}
    {% if attendees['attendee_id']==attendee['attendee_id'] %} selected {% endif %}>
    {{attendees['full_name']}} | attendee_id: {{attendees['attendee_id']}}</option>
    {% endfor %}
    </select>

    </td>

       <td>

        <input  class="btn btn-primary" type="submit" id="UpdateSeanceAttendeeg" value="Save">
        <input type="hidden" name="action" value="update">
        <input type="hidden" name="seanceattendees_id" value={{attendee['seanceattendees_id']}}>


      </td>
      </form>
    <td>
      <form id="cancel" method="GET">
      <input class="btn btn-secondary" type="submit" id="cancel" value="Cancel">
      {% if chosen_seance!=None %}
      <input type="hidden" name="seance_id_input" value={{chosen_seance['seance_id']}}>
      {% endif %}
     </td>
        </form>

  </tr>

  {% else %}
    <tr>
    <td>{{attendee['seance_id']}}</td>
    <td>{{attendee['date']}}</td>
    <td>{{attendee['name']}}</td>
    <td>{{attendee['attendee_id']}}</td>
    <td>{{attendee['full_name']}}</td>
    <td>
        <form id="UpdateSeanceAttendee" method="POST">
        <input  class="btn btn-secondary" type="submit" id="UpdateSeanceAttendee" value="Update">
        <input type="hidden" name="action" value="tagupdate">
         <input type="hidden" name="seanceattendees_id_to_edit" value={{attendee['seanceattendees_id']}}>
      </td>  
      </form>
      </div>

    <td>       <form id="DeleteSeanceAttendee" method="POST">
        <input class="btn btn-danger" type="submit" id="DeleteSeanceAttendee" value="Delete">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="seanceattendees_id" value= {{attendee['seanceattendees_id']}}
     </td>
          </form>

  </tr>
      {% endif %}
  {% endfor %}


    <tr>
      <div class="form-group">
       <form id="InsertSeanceAttendee" method="POST">

    <td colspan="3">
     <label for="seance_id">Select Seance</label>
     <select name="seance_id" class="form-control">

    <option value=""></option>
    {% for seance in seance_data %}
    <option value={{seance['seance_id']}}
    {% if chosen_seance['seance_id']==seance['seance_id'] %} selected {% endif %}>
    {{seance['date']}} {{seance['name']}} | seance_id: {{seance['seance_id']}}</option>
    {% endfor %}
    </select>
    </td>

    <td colspan="2">
   <label for="attendee_id">Select Attendee</label>
   <select name="attendee_id" class="form-control">
    <option value=""></option>
    {% for attendee in all_attendees %}
    <option value={{attendee['attendee_id']}}
    {% if chosen_attendee['attendee_id']==attendee['attendee_id'] %} selected {% endif %}>
    {{attendee['full_name']}} | attendee_id: {{attendee['attendee_id']}}</option>
    {% endfor %}
    </select>

    <td>
        <input class="btn btn-dark" type="submit" id="InsertSeanceAttendee" value="Insert Record of Attendance">
        <input type="hidden" name="action" value="insert">
        </form>
        </div>
    </td>
<td></td>
  </tr>

  </tbody>
</table>



{% endblock %}