<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Guest Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Seances</caption>
  <thead>
  <tr>
    <th>seance_id</th>
    <th>Date</th>
    <th>Location Name</th>
    <th>Delete</th>
    <th>Edit</th>
    <th>View and Edit Seance Attendees</th>
    <th>View and Edit Channelings at this Seance</th>
  </tr>
  </thead>
  <tbody>
  {% for seance in seance_data %}
  <tr>
    <td>{{seance['seance_id']}}</td>
    <td>{{seance['date']}}</td>
    <td>{{seance['name']}}</td>
    <td><a href="/delete_seance/{{seance['seance_id']}}">Delete</a></td>
    <td><a href="seances?id={{seance['seance_id']}}">Edit</a></td>
    <td><a href="seanceattendees?seance_id_input={{seance['seance_id']}}">View and Edit Seance Attendees</a></td>
    <td><a href="channelings?id={{seance['seance_id']}}">View and Edit Channelings at this Seance
  </tr>
  {% endfor %}
  </tbody>
</table>


<div id="insert" style="display: block">
  <form id="InsertSeance" method="POST">
      <legend><strong>Insert Seance</strong></legend>
     <fieldset class="fields">
       <label> Date: </label> <input type="date"  name="date">
       <label for="location_id">Location: </label>
      <select name="location_id" id="newloc">
        <option value=""></option>
        {% for location in location_data %}
        <option value={{location['location_id']}}
        {% if seance_to_edit['location_id']==location['location_id'] %} selected {% endif %}>
        {{location['name']}} | location_id {{location['location_id']}}</option>
        {% endfor %}
      </select>
    </fieldset>
    <input class="btn" type="submit" id="InsertSeance" value="Insert Seance">
  </form>

</div>
<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="updateSeance" method="POST">
      <legend><strong>Update Seance</strong></legend>
      <label for="id_input">Seance to be Updated</label>
      <fieldset class="fields">
       <select name="id_input" id="actuallyattended">
           <option value=""></option>
           {% for seance in seance_data %}
           <option value={{seance['seance_id']}}
           {% if seance_to_edit['seance_id']==seance['seance_id'] %} selected {% endif %}>
           {{seance['date']}} at {{seance['name']}} | id: {{seance['seance_id']}}</option>
           {% endfor %}
       </select>
      </fieldset>
     <legend>New Information</legend>
      <fieldset class="fields">
        <label> Date: </label> 
        <input type="date" name="new_date" value={{seance_to_edit['date']}}>
        <label for="newloc">Location: </label>
      <select name="new_location_id" id="newloc">
        <option value=""></option>
        {% for location in location_data %}
        <option value={{location['location_id']}}
        {% if seance_to_edit['location_id']==location['location_id'] %} selected {% endif %}>
        {{location['name']}} | location_id {{location['location_id']}}</option>
        {% endfor %}
      </select>
    </fieldset>
    <input class="btn" type="submit" id="UpdateSeance" value="Update Seance">
  </form>
</div>

<div>
