<!--Page for displaing and interactng with Seances-->
{% extends 'baselayout.html' %}

{% block content %}
    <div class="container-fluid">
        <!--Title for page-->
        <h2 align="center">Seances</h2>
        <div>&nbsp;</div>

        <!--Table to display Seance content-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>seance_id</th>
                    <th>Date</th>
                    <th>Location Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Attendees</th>
                    <th>Channelings</th>
                </tr>
            </thead>
            <tbody>
                {% for seance in seance_data %}
                    <!--If seance_id is the one passed-in to edit then row is the edit form-->
                    {%if seance['seance_id']==seance_to_edit %}
                        <tr>
                            <form id="UpdateSeanceAttendee" method="POST">
                                <td>{{seance['seance_id']}}</td>

                                <td><input type="date" class="form-control" name="date" value="{{seance['date']}}"></td>


                                <td colspan="3">
                                    <select name="name" class="form-control">
                                        <option value=""></option>
                                        {% for location in location_data %}
                                            <option value={{location['location_id']}} {% if seance['name']==location['name'] %} selected {% endif %}>
                                                {{location['name']}} | location_id: {{location['location_id']}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <!--Save button-->
                                <td>
                                    <input class="btn btn-primary" type="submit" id="UpdateSeance" value="Save">
                                    <input type="hidden" name="action" value="update">
                                    <input type="hidden" name="seance_id" value={{seance['seance_id']}}>
                                </td>
                            </form>
                            <!--Cancel button-->
                            <td>
                                <form id="cancel" method="GET">
                                    <input class="btn btn-secondary" type="submit" id="cancel" value="Cancel">

                            </td>
                            </form>

                        </tr>
                    <!--Otherwise the row displays the information of the Seance-->
                    {% else %}
                        <tr>
                            <td>{{seance['seance_id']}}</td>
                            <td>{{seance['date']}}</td>
                            <td>{{seance['name']}}</td>


                            <!--Update button-->
                            <form id="UpdateSeance" method="POST">
                                <td>
                                    <input class="btn btn-secondary" type="submit" id="UpdateSeance" value="Update">
                                    <input type="hidden" name="action" value="tagupdate">
                                    <input type="hidden" name="edit_form" value={{seance['seance_id']}}>
                                 </td>
                            </form>

                            <!--Delete button-->
                            <form id="DeleteSeance" method="POST">
                                <td>
                                    <input class="btn btn-danger" type="submit" id="DeleteSeance" value="Delete">
                                    <input type="hidden" name="action" value="delete">
                                    <input type="hidden" name="seance_id" value={{seance['seance_id']}}> 
                                </td>
                            </form>

                            <!--Link to Seance Attendees table for the Seance in the row-->
                            <form action="/seanceattendees" id="GoToSeanceAttendees">
                                <td>
                                    <input type="hidden" value="{{seance['seance_id']}}" name="seance_id_input">
                                    <input class="btn btn-outline-dark" type="submit" value="Attendees">
                                </td>

                            </form>


                            <!--Link to Channelings table for the Seance in the row-->
                            <td>
                                <form action="/channelings" id="GoToChannelings">
                                    <input type="hidden" value="{{seance['seance_id']}}" name="chosen_seance_id">
                                    <input class="btn btn-outline-dark" type="submit" value="Channelings">
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                <!--Last row in the table is a form to insert a new Seance-->
                <tr>
                    <div class="form-group">
                        <form id="InsertSeance" method="POST">

                            <td>Insert New Seance</td>

                            <td> <input type="date" required class="form-control" name="date"></td>

                            <td colspan="2">
                                <select name="location_id" required class="form-control" id="newloc">
                                    <option value="">Select Location</option>
                                    {% for location in location_data %}
                                        <option value={{location['location_id']}} {% if seance_to_edit['location_id']==location['location_id'] %} selected {% endif %}>
                                            {{location['name']}} | location_id {{location['location_id']}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2">
                                <input class="btn btn-dark" type="submit" id="InsertSeance" value="Insert Seance">
                                <input type="hidden" name="action" value="insert">
                            </td>
                            <td> </td>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}