<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Medium</a>
]

<div>
&nbsp;
</div>

<div id="insert" style="display: block">
  <form id="InsertSeance">
      <legend><strong>Insert Seance</strong></legend>
          <fieldset class="fields">
            <label> Date: </label> <input type="date"  name="date">
            <label> Location: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="InsertSeance" value="Insert Seance">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>
<div>
&nbsp;
</div>
<div id="update" style="display: block">
  <form id="updateSeance">
      <legend><strong>Update Seance</strong></legend>
          <fieldset class="fields">
            <label> Date: </label> <input type="date"  name="date">
            <label> Location: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="UpdateSeance" value="Update Seance">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>

<div>
&nbsp;
</div>
<div id="delete" style="display: block">
  <form id="deleteSeance">
      <legend><strong>Delete Seance</strong></legend>
          <fieldset class="fields">
            <label> Date: </label> <input type="date"  name="date">
            <label> Location: </label> <input type="text"  >
    </fieldset>
    <input class="btn" type="submit" id="DeleteSeance" value="Delete Seance">
          <input class="btn" type="button" value="cancel" >
  </form>
</div>