<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Guest Lists</a>
]
<div>
&nbsp;
</div>

<label for="seance-select">Choose a seance:</label>
<select name="seances" id="seance-select">
    <option value="">Select an option</option>
    <option value="seance1_id">2020-12-25 at Costco</option>
    <option value="seance2_id">1865-01-01 at Buckingham Palace</option>
</select>

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <tr>
    <th>attendee_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Bess Houdini</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Sir Arthur Conan Doyle</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
</table>

<div id="insert" style="display: block">
  <form id="InsertAttendee">
      <legend><strong>Insert Attendee</strong></legend>
          <fieldset class="fields">
        <label> Name Prefix: </label> <input  type="text"  name="date">
        <label> First Name: </label> <input  type="text"  name="date">
        <label> Last Name: </label> <input  type="text"  name="date">
        <label> Name Suffix: </label> <input  type="text"  name="date">
    </fieldset>
    <input class="btn" type="submit" id="InsertAttendee" value="Insert Attendee">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateAttendee">
      <legend><strong>Update Attendee</strong></legend>
      <fieldset>
       <label> Current Full Name (To Be Changed): </label> <input  type="text"  name="date">
      </fieldset>
      <br>
      <legend>New Information</legend>
          <fieldset class="fields">
        <label> Name Prefix: </label> <input  type="text"  name="date">
        <label> First Name: </label> <input  type="text"  name="date">
        <label> Last Name: </label> <input  type="text"  name="date">
        <label> Name Suffix: </label> <input  type="text"  name="date">
    </fieldset>
    <input class="btn" type="submit" id="UpdateAttendee" value="Update Attendee">
  </form>
</div>


<div>
&nbsp;
</div>

