<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Spirits</caption>
  <thead>
  <tr>
    <th>spirit_id</th>
    <th>full_name</th>
    <th>Action</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>

  {% for spirit in spirit_data %}
   {%if spirit['spirit_id'] == edit_form %}

  <tr>
  <form id="UpdateSpirit" method="POST">
  <td>{{spirit['spirit_id']}}  </td>
  <td><form id="UpdateSpirit" method="POST">
  <input  type="text"  name="new_name" value = '{{spirit['full_name']}}'></td>
    <td><input class="btn" type="submit" id="UpdateSpirit" value="Save">
     <input type="hidden" name="id_input" value={{spirit['spirit_id']}}>
   <input type="hidden" name="action" value="update">  <input type="hidden" name="edit_form" value=-1
    </td>
   </form>
    <td> </td>

  </tr>
  {% else %}
    <tr> <td>{{spirit['spirit_id']}}  </td> <td>{{spirit['full_name']}}</td>

    <td>
        <form id="UpdateSpirit" method="POST">
        <input class="btn" type="submit" id="UpdateSpirit" value="Update Spirit">
        <input type="hidden" name="action" value="tagupdate">
        <input type="hidden" name="id_input" value={{spirit['spirit_id']}}
         <input type="hidden" name="edit_form" value={{spirit['spirit_id']}}
                 </td>
          </form>

    <td>

        <form id="DeleteSpirit" method="POST">
        <input class="btn" type="submit" id="DeleteSpirit" value="Delete Spirit">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="spirit_id" value={{spirit['spirit_id']}}
                 </td>
          </form>
    </td>
  </tr>


   {% endif %}
  {% endfor %}

<tr>          <form id="InsertSpirit" method="POST">
<td>Insert New Spirit</td>  <td>   <input  type="text"  name="insert_full_name"></td>     </td>
<td colspan=2>   <input class="btn" type="submit" id="UpdateSpirit" value="Insert Spirit">
         <input type="hidden" name="action" value="insert">
 </td>
        </form>
        </tr>

  </tbody>
</table>




<div>
&nbsp;
</div>


<div>
&nbsp;
</div>

