<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Attendee Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Spirits</caption>
  <thead>
  <tr>
    <th>spirit_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tbody>
  {% for spirit in spirit_data %}
  <tr>
    <td>{{spirit['spirit_id']}}</td>
    <td>{{spirit['full_name']}}</td>
    <td><a href="delete_spirit/{{spirit['spirit_id']}}">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  {% endfor %}
</table>


<div id="insert" style="display: block">
  <form id="insert_spirit" method="POST">
      <legend><strong>Insert Spirit</strong></legend>
          <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" value="Insert Spirit">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateSpirit" method="POST">
      <legend><strong>Update Spirit</strong></legend>
  <label for="id_input">Spirit to Update: </label>
  <select name="id_input">
    <option value="None"> </option>
    {% for spirit in spirit_data %}
    <option value={{spirit['spirit_id']}}> {{spirit['full_name']}} | id: {{spirit['spirit_id']}}</option>
    {% endfor %}
  </select>

      <fieldset class="fields">
  <legend>New Information</legend>
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSpirit" value="Update Spirit">
  </form>
</div>

<div>
&nbsp;
</div>

