<h1>Data Seyance</h1>

[ <a href="index">Home</a>
| <a href="seances">Seances</a> | <a href="locations">Locations</a>  | <a href="channelings">Channelings</a>
| <a href="spirits">Spirits</a> | <a href="attendees">Attendees</a> | <a href="mediums">Mediums</a>
| <a href="methods">Methods</a> | <a href="seanceattendees">Seance Guest Lists</a>
]

<div>
&nbsp;
</div>

<table border="5" cellpadding="10">
  <caption>Spirits</caption>
  <tr>
    <th>spirit_id</th>
    <th>full_name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Black Hawk</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Harry Houdini</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Bartholomew Governor of the House of Strangers</td>
    <td><a href="_">Delete</a></td>
    <td><a href="_">Edit</a></td>
  </tr>
</table>


<div id="insert" style="display: block">
  <form id="InsertSpirit">
      <legend><strong>Insert Spirit</strong></legend>
          <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="InsertSpirit" value="Insert Spirit">
  </form>
</div>

<div>
&nbsp;
</div>

<div id="update" style="display: block">
  <form id="UpdateSpirit">
      <legend><strong>Update Spirit</strong></legend>
        <fieldset class="fields">
                        <label for="attended">Current Full Name (To Be Changed) </label>
  <select name="attended" id="attended">
       <option value="None"></option>
    <option value="Bess"> Black Hawk id: 1</option>
  </select>
        </fieldset>

      <br>
      <legend>New Information</legend>
        <fieldset class="fields">
  <label> Full Name: </label> <input  type="text"  name="name">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSpirit" value="Update Spirit">
  </form>
</div>

<div>
&nbsp;
</div>

